/composer.phar
/bin/

# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
cscope.files
cscope.out
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json
.editorconfig

# Building & testing
node_modules/
.scrutinizer.yml
.styleci.yml
.github/
.gitlab-ci.yml

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db

# Misc
.buildpath
.classpath
.idea
.metadata*
.settings
/static*
/tags
/.htpasswd
.gitattributes
.gitignore
.php_cs.dist
phpstan.neon
phpstan.neon.dist
phpunit.xml.dist

# Library test files etc. most of which are (wrongly?) listed

# Reverted upstream because breaking CI
elasticsearch/elasticsearch/docs
# 8.0 in https://github.com/elastic/elasticsearch-php/commit/73363bc9cd40b7b0699c033ff8da3926ff4e5845
elasticsearch/elasticsearch/.ci

# Pending in https://github.com/ezimuel/guzzlestreams/pull/2
ezimuel/guzzlestreams/tests

# Fixed upstream but then reverted in https://github.com/JamesHeinrich/getID3/commit/a24656a102853b85610acc00237b2e85f41007cf
james-heinrich/getid3/demos/

# Excluded in .gitattributes, but included by composer due to WMF fork
league/oauth2-server/CONTRIBUTING.md
league/oauth2-server/examples/
league/oauth2-server/tests/

# Re-added for ForeignResourcesManager, https://github.com/wikimedia/mediawiki-libs-metrics-platform/commit/d98c47371f6447f6549de9d1ffe798ef9bee18e1
wikimedia/metrics-platform/js
# Added in https://gerrit.wikimedia.org/r/c/mediawiki/libs/metrics-platform/+/964595
wikimedia/metrics-platform/mvnw
wikimedia/metrics-platform/mvnw.cmd
wikimedia/metrics-platform/tests/

# Only for non-MW usage, not used by us
wikimedia/codex/i18n/
