/composer.phar
/bin/

# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
cscope.files
cscope.out
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json

# Building & testing
node_modules/
.scrutinizer.yml
.styleci.yml
.github/
.gitlab-ci.yml

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db

# Misc
.buildpath
.classpath
.idea
.metadata*
.settings
/static*
/tags
/.htpasswd
.gitattributes
.gitignore
.php_cs.dist
phpstan.neon
phpstan.neon.dist
phpunit.xml.dist

# Library test files etc. most of which are (wrongly?) listed
psy/psysh/test

brick/math/psalm.xml

data-values/common/tests/
data-values/data-values/tests/
data-values/interfaces/tests/

# This was fixed upstream but then reverted
james-heinrich/getid3/demos/

league/oauth2-server/CONTRIBUTING.md
league/oauth2-server/examples/
league/oauth2-server/tests/

spomky-labs/base64url/infection.json.dist
spomky-labs/cbor-php/infection.json.dist

elasticsearch/elasticsearch/docs
elasticsearch/elasticsearch/.github
elasticsearch/elasticsearch/.ci

ezimuel/guzzlestreams/tests
ezimuel/ringphp/docs
ezimuel/ringphp/tests

