{{#isLink}}<a{{/isLink}}{{^isLink}}<button{{/isLink}} class="cdx-button{{!
  }}{{#isLink}} cdx-button--fake-button {{ fakeButtonClass }}{{/isLink}}{{!
  }}{{#action}}{{^defaultAction}} cdx-button--action-{{ action }}{{/defaultAction}}{{/action}}{{!
  }}{{#weight}}{{^defaultWeight}} cdx-button--weight-{{ weight }}{{/defaultWeight}}{{/weight}}{{!
  }}{{#size}}{{^defaultSize}} cdx-button--size-{{ size }}{{/defaultSize}}{{/size}}{{!
  }}{{#iconOnly}} cdx-button--icon-only{{/iconOnly}}{{!
  }}{{{ extraClasses }}}"{{!
  }}{{#id}} id="{{ id }}"{{/id}}{{!
  }}{{#isLink}} href="{{ href }}"{{/isLink}}{{!
  }}{{^isLink}}{{#type}} type="{{ type }}"{{/type}}{{/isLink}}{{!
  }}{{^isLink}}{{#name}} name="{{ name }}"{{/name}}{{/isLink}}{{!
  }}{{^isLink}}{{#value}} value="{{ value }}"{{/value}}{{/isLink}}{{!
  }}{{#isLink}}{{#isDisabled}} aria-disabled="true"{{/isDisabled}}{{/isLink}}{{!
  }}{{^isLink}}{{#isDisabled}} disabled{{/isDisabled}}{{/isLink}}{{!
  }}{{{ attributes }}}>
  {{#iconClass}}
    <span class="cdx-button__icon {{ iconClass }}" aria-hidden="true"></span>
  {{/iconClass}}
  {{^iconOnly}}
    {{{ label-html }}}
  {{/iconOnly}}
{{#isLink}}</a>{{/isLink}}{{^isLink}}</button>{{/isLink}}
