<{{ tag }} class="cdx-card{{! }}{{#url}} cdx-card--is-link{{/url}}{{! }}{{{ extraClasses }}}"{{! }}{{#id}} id="{{ id }}"{{/id}}{{! }}{{#url}} href="{{ url }}"{{/url}}{{! }}{{{ attributes }}}>
{{#thumbnail}}
  {{> thumbnail}}
{{/thumbnail}}
  {{#iconClass}}
  <span class="cdx-card__icon {{ iconClass }}"></span>
  {{/iconClass}}
  <span class="cdx-card__text">
    <span class="cdx-card__text__title">{{{ title-html }}}</span>{{!
    }}{{#description-html}}
    <span class="cdx-card__text__description">{{{ description-html }}}</span>{{/description-html}}{{!
    }}{{#supportingText-html}}
    <span class="cdx-card__text__supporting-text">{{{ supportingText-html }}}</span>{{/supportingText-html}}
  </span>
</{{ tag }}>
