<div class="cdx-checkbox{{!
  }}{{#isInline}} cdx-checkbox--inline{{/isInline}}{{{ wrapperExtraClasses }}}"{{!
  }}{{{ wrapperAttributes }}}>
  <input class="cdx-checkbox__input{{{ inputExtraClasses }}}" type="checkbox"{{#inputId}} id="{{ inputId }}"{{/inputId}} name="{{ name }}" value="{{ value }}"{{!
    }}{{#isChecked}} checked{{/isChecked}}{{!
    }}{{#isDisabled}} disabled{{/isDisabled}}{{!
    }}{{#ariaDescribedby}} aria-describedby="{{ ariaDescribedby }}"{{/ariaDescribedby}}{{!
    }}{{{ inputAttributes }}}>
  <span class="cdx-checkbox__icon"></span>
  {{#label}}
    {{> label }}
  {{/label}}
</div>
