<{{#isFieldset}}fieldset{{/isFieldset}}{{^isFieldset}}div{{/isFieldset}} class="cdx-field{{{ extraClasses }}}"{{! }}{{#id}} id="{{ id }}"{{/id}}{{! }}{{{ attributes }}}>
  {{#label}}
    {{> label }}
  {{/label}}
  <div class="cdx-field__control">
    {{#fields-html}}
      {{{.}}}
    {{/fields-html}}
  </div>
</{{#isFieldset}}fieldset{{/isFieldset}}{{^isFieldset}}div{{/isFieldset}}>
