<{{#isLegend}}legend{{/isLegend}}{{^isLegend}}div{{/isLegend}} class="{{#coreClass}}{{ coreClass }} {{/coreClass}}cdx-label{{!
  }}{{#isVisuallyHidden}} cdx-label--visually-hidden{{/isVisuallyHidden}}{{!
  }}{{#isDisabled}} cdx-label--disabled{{/isDisabled}}{{{ extraClasses }}}"{{!
  }}{{#id}} id="{{ id }}"{{/id}}{{!
  }}{{{ attributes }}}>
  {{#isLegend}}
    <span class="cdx-label__label">
      {{#icon}}<span class="cdx-label__label__icon {{ icon }}"></span>{{/icon}}{{!
      }}<span class="cdx-label__label__text">{{{ labelText-html }}}</span>{{!
      }}{{#optionalFlag}} <span class="cdx-label__label__optional-flag">{{ optionalFlag }}</span>{{/optionalFlag}}
    </span>
  {{/isLegend}}
  {{^isLegend}}
    <label {{#inputId}}for="{{ inputId }}" {{/inputId}}class="cdx-label__label">
      {{#icon}}<span class="cdx-label__label__icon {{ icon }}"></span>{{/icon}}{{!
      }}<span class="cdx-label__label__text">{{{ labelText-html }}}</span>{{!
      }}{{#optionalFlag}} <span class="cdx-label__label__optional-flag">{{ optionalFlag }}</span>{{/optionalFlag}}
    </label>
  {{/isLegend}}
  {{#description-html}}
    <span {{#descriptionId}}id="{{ descriptionId }}" {{/descriptionId}}class="cdx-label__description">{{{ description-html }}}</span>
  {{/description-html}}
</{{#isLegend}}legend{{/isLegend}}{{^isLegend}}div{{/isLegend}}>
