<div class="cdx-message{{#isInline}} cdx-message--inline{{/isInline}}{{^isInline}} cdx-message--block{{/isInline}} cdx-message--{{ type }}{{{ extraClasses }}}"{{#id}} id="{{ id }}" {{/id}}{{#isPolite}} aria-live="polite"{{/isPolite}}{{#isAlert}} role="alert"{{/isAlert}}{{{ attributes }}}>
  <span class="cdx-message__icon {{ iconClass }}"></span>
  <div class="cdx-message__content">
    {{#heading-html}}
      <p><strong>{{{ heading-html }}}</strong></p>
    {{/heading-html}}
    {{{ content-html }}}
  </div>
</div>
