<div class="cdx-table-pager cdx-table__pagination--{{ position }}{{{ extraClasses }}}"{{! }}{{#id}} id="{{ id }}"{{/id}}{{{ attributes }}}>
  <div class="cdx-table-pager__start">
    {{{ select }}}
  </div>
   <div class="cdx-table-pager__status">
        {{ status }}
   </div>
  <div class="cdx-table-pager__end">
    {{#firstButton}}
      {{> button }}
    {{/firstButton}}
    {{#prevButton}}
      {{> button }}
    {{/prevButton}}
    {{#nextButton}}
      {{> button }}
    {{/nextButton}}
    {{#lastButton}}
      {{> button }}
    {{/lastButton}}
  </div>
  {{#hiddenFields}}
    <input type="hidden" name="{{ key }}" value="{{ value }}">
  {{/hiddenFields}}
</div>
