<div class="cdx-radio{{!
  }}{{#isInline}} cdx-radio--inline{{/isInline}}{{{ wrapperExtraClasses }}}"{{!
  }}{{{ wrapperAttributes }}}>
  <input class="cdx-radio__input{{{ inputExtraClasses }}}" type="radio"{{#inputId}} id="{{ inputId }}"{{/inputId}} name="{{name}}" value="{{value}}"{{!
    }}{{#isChecked}} checked{{/isChecked}}{{!
    }}{{#isDisabled}} disabled{{/isDisabled}}{{!
    }}{{#ariaDescribedby}} aria-describedby="{{ ariaDescribedby }}"{{/ariaDescribedby}}{{!
    }}{{{ inputAttributes }}}>
  <span class="cdx-radio__icon"></span>
  {{#label}}
    {{> label}}
  {{/label}}
</div>
