<select class="cdx-select{{{ extraClasses }}}"{{#id}} id="{{ id }}"{{/id}}{{#isDisabled}} disabled{{/isDisabled}}{{{ attributes }}}>
  {{#options}}
    <option value="{{ value }}"{{#selected}} selected{{/selected}}>{{ text }}</option>
  {{/options}}
  {{#optGroups}}
    <optgroup label="{{ label }}">
      {{#options}}
        <option value="{{ value }}"{{#selected}} selected{{/selected}}>{{ text }}</option>
      {{/options}}
    </optgroup>
  {{/optGroups}}
</select>
