<div class="cdx-table{{{ extraClasses }}}"{{! }}{{#id}} id="{{ id }}"{{/id}}{{{ attributes }}}>
    <div class="cdx-table__header">
      {{^hideCaption}}
        {{#caption}}
          <div class="cdx-table__header__caption">
            {{ caption }}
          </div>
        {{/caption}}
      {{/hideCaption}}
      {{#headerContent-html}}
        <div class="cdx-table__header__header-content">
          {{{ headerContent-html }}}
        </div>
      {{/headerContent-html}}
    </div>
    <div class="cdx-table__table-wrapper">
      <table class="cdx-table__table {{!
        }}{{#showVerticalBorders}}cdx-table__table--borders-vertical{{/showVerticalBorders}}">
        {{#caption}}
          <caption>{{ caption }}</caption>
        {{/caption}}
        {{#hasData}}
        <thead>
        <tr>
          {{#columns}}
            <th scope="col" class="{{ align }} {{#sortable}}cdx-table__table__cell--has-sort{{/sortable}}">
              {{#sortable}}
                <a class="cdx-table__table__sort-button cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet" href="{{ sortUrl }}" aria-selected="{{ isCurrentSort }}">
                  <span class="cdx-table__table__sort-label">{{{ label-html }}}</span>
                  <span class="cdx-icon cdx-icon--small cdx-table__sort-icon {{ sortIconClass }}"></span>
                </a>
              {{/sortable}}
              {{^sortable}}
                <span class="cdx-table__th-content">{{{ label-html }}}</span>
              {{/sortable}}
            </th>
          {{/columns}}
        </tr>
        </thead>
        {{/hasData}}
        <tbody>
        {{#rows}}
          <tr>
            {{#columns}}
              <td class="{{ align }}">{{{ cellData-html }}}</td>
            {{/columns}}
          </tr>
        {{/rows}}
        {{^hasData}}
            <tr class="cdx-table__table__empty-state">
                <td class="cdx-table__table__empty-state-content">
                    {{ noDataMessage }}
                </td>
            </tr>
        {{/hasData}}
        </tbody>
      </table>
    </div>
    {{#hasData}}
    {{#pager}}
      {{{ pager }}}
    {{/pager}}
    {{/hasData}}
    {{#footer-html}}
      <div class="cdx-table__footer">{{{ footer-html }}}</div>
    {{/footer-html}}
  </div>
