<span class="cdx-toggle-switch{{{ wrapperExtraClasses }}}"{{!
  }}{{{ wrapperAttributes }}}>
  <input class="cdx-toggle-switch__input{{{ inputExtraClasses }}}" type="checkbox"{{!
    }}{{#inputId}} id="{{ inputId }}"{{/inputId}}{{#name }} name="{{ name }}"{{/name}}{{#value}} value="{{ value }}"{{/value}}{{!
    }}{{#isChecked}} checked{{/isChecked}}{{!
    }}{{#isDisabled}} disabled{{/isDisabled}}{{!
    }}{{#ariaDescribedby}} aria-describedby="{{ ariaDescribedby }}"{{/ariaDescribedby}}{{!
    }}{{{ inputAttributes }}}>
  <span class="cdx-toggle-switch__switch">
    <span class="cdx-toggle-switch__switch__grip"></span>
  </span>
    {{#label}}
        {{> label}}
    {{/label}}
</span>
