<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
	<testsuites>
		<testsuite name="CSSJanus Test Suite">
			<directory>./test/suites</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">/src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="clover.xml"/>
		<log type="coverage-html" target="coverage/"/>
	</logging>
</phpunit>
